.logo {
    width: 25%;
  }
  
  .nav-theme {
    background-color: #9a9addf8;
    font-size: 20px;
  }
  
  .animate-navbar {
    animation: moveDown 0.5s ease-in-out;
  }
  
  @keyframes moveDown {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0rem);
    }
  }
  